// Styling for the download section
section.contact {
    background: white !important;
    text-align: center;
    h2 {
        margin-top: 0;
        margin-bottom: 50px;
        color: $theme-primary;
        i {
            color: $theme-secondary;
        }
    }
    ul.list-social {
        margin-bottom: 10px;
        li {
            a {
                font-size: 40px;
                line-height: 80px;
                display: block;
                width: 80px;
                height: 80px;
                color: white;
                border-radius: 100%;
            }
            &.social-twitter {
                a {
                    background-color: #8fd3f4;
                    &:hover {
                        background-color: $brand-twitter;
                    }
                }
            }
            &.social-facebook {
                a {
                    background-color: #8ec5fc;
                    &:hover {
                        background-color: $brand-facebook;
                    }
                }
            }
            &.social-google-plus {
                a {
                    background-color: #ff8c9b;
                    &:hover {
                        background-color: $brand-google-plus;
                    }
                }
            }
        }
    }
}
